p {
  color: red;
}
h3{
  color: rgb(0, 255, 76);
}
h1{
  color: rgba(24, 25, 99, 0.801);
}
li.special {
  color: orange;
  font-weight: bold;
}
@media screen{
  div{
      width:880px;
      height:560px;
      margin:auto;
  }
}
/*        適用於印表機列印時*/
@media print{
  div{
      width:80%;
      height:auto;
      margin:auto;
  }
}
/*        適用螢幕寬度小於480px的裝置（當螢幕小於480px時）*/
@media screen and (max-width:480px){
  div{
      width:100%;
      height:auto;
      margin:auto;
  }
}
/*        適用於平版直著拿的情況（平版橫著拿的情況就和電腦螢幕相同）*/
@media screen and (min-width:481px) and (max-width:768px){
   div{
      width:100%;
      height:auto;
      margin:auto;
  }
}
